.tabs{
  display: flex;
  background-color: #534540;
  padding: 10px 30px 0;
}

.tab{
  flex: 0 1 25%;
  margin: 5px 1px 0;
  background-color: rgba(255, 255, 255, 0.2);
  /*border: 1px solid lightgrey;*/
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  font-family: sans-serif;
}

.tab span{
  font-family: 20px;
  font-weight: bold;
  color: white;
}

.tab p{
  margin: 0;
}

.tab #active{
  background-color: white;
  color: #534540;
}

.tab:first-child{
  border-radius: 4px 0px 0px 0px;
}

.tab:last-child{
  border-radius: 0px 4px 0px 0px;
}

