<h2>Album <%= @album["title"] %></h2>

<h3>Tracks</h3>

<table>
	<% @tracks.each do |track| %>
		<tr>
			<td>
				<a href="/tracks/<%=track["id"]%>">
					<%= track["name"] %>
				</a>
			</td>
		</tr>
	<% end %>
</table>

<br />

<a href="/artists/<%= @album["artist_id"] %>">Back to artist</a>