<h1><%= @restaurant.name %>'s menu</h1>

<div><strong>id: </strong> <%= @restaurant.id %></div>
<div><strong>address: </strong> <%= @restaurant.address %></div>
<div><strong>rating: </strong> <%= @restaurant.rating %></div>
